/** @format */

* {
    box-sizing: border-box;
}

section {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title {
    text-align: center;

    font-weight: 600;
}
.nav-link.active {
    font-weight: bold;
    transition: all ease-in-out 0.5s;
    border-bottom: 1px solid black;
    border-radius: 20px;
}
nav html {
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}
#navbarNav {
    justify-content: center;
    align-items: center;
}
.nav-link {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

/* Home Section */
#home {
    background-color: #030708;
}

.title {
    margin: 0;
    padding: 0;
    color: #fcfafc;
}
.name {
    margin-bottom: 0;
    font-size: 42px;
    color: #ffff;
}

/* profile */
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
}

.col .btn {
    transition: all ease-in 0.5s;
    margin: 20px auto;
}
.col .btn:hover {
    transition: all ease-in 0.5s;
    border: 1px solid black;
    background: none;
    color: black;
}

.services .icon-box {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
}
.services .icon-box i {
    float: left;
    color: #d9232d;
    font-size: 40px;
}
.services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.services .icon-box h4 a {
    color: #556270;
    transition: 0.3s;
}
.services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}
.services .icon-box:hover h4 a {
    color: #d9232d;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
}
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}
.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #d9232d;
}
.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}
.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(85, 98, 112, 0.6);
}
.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(85, 98, 112, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}
.portfolio .portfolio-wrap img {
    transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}
.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: white;
}
.portfolio .portfolio-wrap:hover::before {
    opacity: 1;
}
.portfolio .portfolio-wrap:hover img {
    transform: scale(1.2);
}
.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}
